.image-content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    opacity: 0;
}

.image-content .analogic-img {
    height: 550px;
    width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 2px;
    filter: black;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    margin: 15px;
}


.text {
    position: absolute;
    color: white;
    /* bottom: 420px; */
    background-color: rgba(0, 0, 0, 0.432);
    width: 67%;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.text1 {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    width: 67%;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.image-content-two {
    position: absolute;
    color: white;
    bottom: 420px;
    background-color: rgba(0, 0, 0, 0.432);
    width: 67%;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

p:hover {
    cursor: default;
}

@media (max-width: 925px) {


    .analogic-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .image-content{
        margin-top: 30px;
    }

    .image-content .analogic-img {
        height: 300px;
        width: 300px;
        border: 1px solid rgba(255, 255, 255, 0.39);
        border-radius: 2px;
        filter: black;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);

        margin: 15px;
    }
}