@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sub-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 5vh;
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    gap: 20px;

    animation: transitionIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

iframe {
    max-width: 420px;
    max-height: 335px;
}

.content-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-video {
    text-align: center;
    font-size: 18px;
    color: white;
}
@media (max-width: 925px) {
    .video-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    iframe {
        margin-top: 8vh;
        width: 300px;
        height: 200px;
    }
    .title-video {
        text-align: center;
        font-size: 10px;
        color: white;
    }
}
