    .slider {
        display: flex;
        justify-items: center;
        align-items: center;

    }

    .right-arrow {
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 3rem;
        color: white;

        z-index: 10;
        cursor: pointer;
        user-select: none;
        z-index: 0;
    }

    .left-arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 3rem;
        color: white;


        z-index: 10;
        cursor: pointer;
        user-select: none;
        z-index: 0;
    }

    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }


    .image {
        height: 500px;
        width: 500px;
        border-radius: 10px;
    }

    .text-image{
        padding: 20px;
        background-color: white;

        font-weight: bolder;

        border-radius: 10px;

        text-align: center;
        color: black;
    }


    @media (max-width: 925px) {

        .slider {
            height: 70vh;
            /* position: relative; */

            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            
            margin-top: 15px;
            margin-bottom: 20px;

        }

        .image {
            height: 300px;
            width: 280px;
        }

        .right-arrow {
            position: absolute;
            top: 85%;
            right: 32px;
            font-size: 3rem;
            color: white;

            z-index: 2;
            cursor: pointer;
            user-select: none;
        }

        .left-arrow {
            position: absolute;
            top: 85%;
            left: 32px;
            font-size: 3rem;
            color: white;


            z-index: 2;
            cursor: pointer;
        }


    }

    /* @media (max-width: 420px) and (min-width: 925px) {

        .slider {
            height: 70vh;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-left: 15px;
            z-index: 0;

        }

        .image {
            height: 300px;
            width: 280px
        }

        .right-arrow {
            position: absolute;
            top: 80%;
            right: 32px;
            font-size: 3rem;
            color: white;

            z-index: 10;
            cursor: pointer;
            user-select: none;
        }

        .left-arrow {
            position: absolute;
            top: 80%;
            left: 32px;
            font-size: 3rem;
            color: white;


            z-index: 10;
            cursor: pointer;
            user-select: none;
        }


    } */