.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-home {
    height: 30vh;
}

h1 {
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 30px;

    font-family: "Special Elite", cursive;
}
.photo {
    width: 650px;
    height: 650px;
    border-radius: 10px;
}

@media (max-width: 925px) {
    .photo {
        height: 380px;
        width: 360px;
    }
}
