@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    animation: transitionIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}

.content-home {
    height: 30vh;
}

h1 {
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 30px;

    font-family: "Special Elite", cursive;
}
.photo {
    width: 550px;
    height: 550px;
    border-radius: 10px;
}

@media (max-width: 925px) {
    .photo {
        height: 380px;
        width: 360px;
    }
}
