.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-home {
    height: 30vh;
}

h1 {
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 30px;

    font-family: "Special Elite", cursive;
}
.photo {
    max-height: 670px;
    width: 680px;
}

@media (max-width: 925px) {
    .photo {
        height: 500px;
        width: 320px;
    }
}
